$bg-input-radio: rgba(255, 255, 255, 0.1);
$bg-input-radio-checked: rgba(106, 0, 198, 1);
$text-color-default: rgba(255, 255, 255, 0.7);

.container-login {
  padding: 90px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form-login {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-login {
  margin-bottom: 42px;
}

.form-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  label {
    color: white;
    font-size: 12px;
  }
}

.form-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid $bg-input-radio;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.form-radio input[type="radio"]:checked {
  background-color: $bg-input-radio-checked;
  padding: 2px;
}

.container-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-login-footer {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  gap: 20px;
}

.text-footer-login {
  font-size: 12px;
  text-align: center;
  color: $text-color-default;

  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
}
