<div class="container-post">
  <div class="top-post">
    <div class="info-user">
      <img src="../../../assets/images/facebook.svg" alt="" />
      <div class="text-info-user">
        <strong>Facebook</strong>
        <p>Influencer</p>
      </div>
    </div>
    <p>
      Explorando o melhor da vida e compartilhando cada momento contigo! 💫✨
      Seja bem-vindo ao meu mundo de inspiração...
    </p>
  </div>
  <img src="../../../assets/images/imagePost.svg" alt="" />
  <div class="footer-post">
    <p>
      <strong>Facebook</strong> Aqui, vamos juntos em busca de positividade,
      autenticidade e muito estilo!
    </p>
  </div>
</div>
