<div class="container-login">
  <div class="container-form-login">
    <img class="logo-login" src="../../assets/images/logoBaseTech.svg" alt="" />
    <div class="container-input">
      <input
        class="input-default"
        placeholder="Insira seu Login:"
        type="text"
      />
      <input
        class="input-default"
        placeholder="Insira sua Senha:"
        type="text"
      />
    </div>
    <div class="container-login-footer">
      <a routerLink="home"> <button class="button-default">Entrar</button></a>
      <p class="text-footer-login">
        Não tem uma conta? <a routerLink="create-account">Cadastre-se</a>
      </p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
