.container-profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container-users-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.photo-user {
  border-radius: 50%;
  width: 124px;
  height: 124px;
}

.text-user-informations {
  h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
  }
  p {
    margin: 0;
    text-align: center;
  }
}
