<div class="container-profile">
  <div class="container-users-information">
    <img class="photo-user" src="/assets/images/InstagramLarge.svg" alt="" />
    <div class="text-user-informations">
      <h3>Facebook</h3>
      <p>Influencer</p>
    </div>
  </div>
  <div class="container-options">
    <a
      *ngFor="let option of optionsProfileMock"
      href="{{ option.href }}"
      class="option-default-profile"
    >
      <p>{{ option.text }}</p>
      <img src="{{ option.icon }}" alt="" />
    </a>
  </div>
</div>
